<div class="views">
    <div class="view view-main">
        <div class="pages toolbar-fixed">
            <div data-page="mine" class="page">
                <div class="page-content">
                    <div class="mine-main">
                        <img src="images/head.svg">
                    </div>
                    <div class="list-block" style="margin: 0">
                        <ul>
                            <li class="high-li">
                                <a id="btn-record" class="item-link item-content">
                                    <div class="item-media"><i class="icon"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">置换记录</div>
                                    </div>
                                </a>
                            </li>
                            <li class="high-li">
                                <a id="btn-set" class="item-link item-content">
                                    <div class="item-media"><i class="icon"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">重置密码</div>
                                    </div>
                                </a>
                            </li>
                            <li class="high-li">
                                <a id="btn-share" class="item-link item-content">
                                    <div class="item-media"><i class="icon"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">分享好友</div>
                                    </div>
                                </a>
                            </li>
                            <li class="high-li">
                                <a id="btn-advise" class="item-link item-content">
                                    <div class="item-media"><i class="icon"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">提出建议</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block" style="margin: 20px 0">
                        <ul>
                            <li class="high-li">
                                <a id="btn-about" class="item-link item-content">
                                    <div class="item-media"><i class="icon"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title">关于我们</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mask" style="background: rgba(0, 0, 0, 0.7)">
                        <img id="img-share" src="images/share-it.png">
                        <div style="padding:10px 80px;text-align: center; margin-top: 220px; color: white; font-family: 华文行楷; font-size: 20px; line-height: 30px;">点击右上角，发送给朋友或分享到朋友圈</div>
                        <div id="btn-known" class="button color-white" style="width: 100px;height: 40px;padding-top: 5px;margin: auto">我知道了</div>
                    </div>
                </div>
                <div class="toolbar tabbar tabbar-labels">
                    <div class="toolbar-inner">
                        <a href="/index" class="tab-link">
                            <i class="icon demo-icon-1"></i>
                            <span class="tabbar-label">首页</span>
                        </a>
                        <a href="/toys" class="tab-link">
                            <i class="icon demo-icon-2"></i>
                            <span class="tabbar-label">找玩具</span>
                        </a>
                        <a href="/box" class="tab-link">
                            <i class="icon demo-icon-3"></i>
                            <span class="tabbar-label">置换箱</span>
                        </a>
                        <a href="#" class="tab-link active">
                            <i class="icon demo-icon-4"></i>
                            <span class="tabbar-label">我的</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>