<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="javascript:history.go(-1);" class="link icon-only">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="center">添加玩具</div>
            </div>
        </div>
        <div class="pages">
            <div data-page="uploadToy" class="page">
                <div class="page-content">
                    <div class="list-block-label">添加玩具</div>
                    <div id="old-form" class="list-block">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">玩具名</div>
                                        <div class="item-input">
                                            <input id="ipt-name" type="text" placeholder="请输入玩具的名称">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">市场价</div>
                                        <div class="item-input">
                                            <input id="ipt-price" type="text" maxlength="9" placeholder="请输入一个整数价格">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">品牌</div>
                                        <div class="item-input">
                                            <select name="brand">
                                                {{#each brands}}
                                                    <option value="{{this.id}}">{{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="item-link smart-select" data-open-in="picker" data-picker-height="300px" data-picker-close-text="完成">
                                    <select name="brand">
                                        {{#each brands}}
                                            <option value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                        <option value="10" selected>其它</option>
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">品牌</div>
                                            <div class="item-after">其它</div>
                                        </div>
                                    </div>
                                </a>-->
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">分类</div>
                                        <div class="item-input">
                                            <select name="category">
                                                <option value="101" selected>运动户外</option>
                                                <option value="102">婴幼玩具</option>
                                                <option value="103">积木拼插</option>
                                                <option value="104">动漫模型</option>
                                                <option value="105">遥控电动</option>
                                                <option value="106">绘画、DIY</option>
                                                <option value="107">毛绒布艺</option>
                                                <option value="108">益智早教</option>
                                                <option value="109">音乐玩具</option>
                                                <option value="100">其它</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="item-link">
                                    <select name="category">
                                        <option value="101" selected>运动户外</option>
                                        <option value="102">婴幼玩具</option>
                                        <option value="103">积木拼插</option>
                                        <option value="104">动漫模型</option>
                                        <option value="105">遥控电动</option>
                                        <option value="106">绘画、DIY</option>
                                        <option value="107">毛绒布艺</option>
                                        <option value="108">益智早教</option>
                                        <option value="109">音乐玩具</option>
                                        <option value="100">其它</option>
                                    </select>
                                    &lt;!&ndash;<div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">分类</div>
                                            <div class="item-after">运动户外</div>
                                        </div>
                                    </div>&ndash;&gt;
                                </a>-->
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">新旧程度</div>
                                        <div class="item-input">
                                            <select name="old">
                                                <option value="1001" selected>接近全新，无使用痕迹</option>
                                                <option value="1002">稍显陈旧</option>
                                                <option value="1003">明显老旧</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="item-link smart-select" data-open-in="picker" data-picker-height="200px" data-picker-close-text="完成">
                                    <select name="old">
                                        <option value="1001" selected>接近全新，无使用痕迹</option>
                                        <option value="1002">稍显陈旧</option>
                                        <option value="1003">明显老旧</option>
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">新旧程度</div>
                                            <div class="item-after">接近全新，无使用痕迹</div>
                                        </div>
                                    </div>
                                </a>-->
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">缺损情况</div>
                                        <div class="item-input">
                                            <select name="damage">
                                                <option value="10001" selected>无任何缺损</option>
                                                <option value="10002">轻微缺损</option>
                                                <option value="10003">明显缺损</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                             <!--   <a href="#" class="item-link smart-select" data-open-in="picker" data-picker-height="200px" data-picker-close-text="完成">
                                    <select name="damage">
                                        <option value="10001" selected>无任何缺损</option>
                                        <option value="10002">轻微缺损</option>
                                        <option value="10003">明显缺损</option>
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">缺损情况</div>
                                            <div class="item-after">无任何缺损</div>
                                        </div>
                                    </div>
                                </a>-->
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">功能使用</div>
                                        <div class="item-input">
                                            <select name="func">
                                                <option value="100001" selected>全部功能正常</option>
                                                <option value="100002">主要功能正常</option>
                                                <option value="100003">主要功能无法使用</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="完成">
                                    <select name="func">
                                        <option value="100001" selected>全部功能正常</option>
                                        <option value="100002">主要功能正常</option>
                                        <option value="100003">主要功能无法使用</option>
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">功能使用</div>
                                            <div class="item-after">全部功能正常</div>
                                        </div>
                                    </div>
                                </a>-->
                            </li>
                            <li>
                                <div class="img-upload">
                                    <div class="button button-big">上传照片（请确保玩具细节清晰）</div>
                                    <!--<input id="uploadImg" type="file" name="image" accept="image/*">-->
                                    <!--<span data-progress="0" class="progressbar"></span>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="img-preview"><img></div>
                    <div style="height: 55px; width: 100%"></div>
                    <div class="bottom-float">
                        <div class="btn-center">
                            <div class="btn-word">提交</div>
                        </div>
                    </div>
                    <div class="mask">
                        <div class="loading">
                            <img src="images/loading.gif">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>